/* Fonts */
body {
    font-family: "Balboa", serif;
  }

/* Navbar */






/* Carousel */
.carousel-caption {
    top: 0; 
    bottom: auto;
    transform: translateY(20%);
}

.carousel-caption.d-none.d-md-block {
    display: block !important;
}


/* Lists */
.list-group-item {
    text-decoration: none;
}



/* Logo */
footer {
    background-color: #101010; /* Adjust the color to match the footer background */
    color: #ffffff;
  }
  
  .footer-logo {
    width: 150px; /* Adjust the size as needed */
    margin-bottom: 10px;
  }  


footer p {
    font-size: 0.9rem;
    margin: 0;
}