





/* Carousel */
.carousel-caption {
    top: 0; 
    bottom: auto;
    transform: translateY(20%);
}

.carousel-caption.d-none.d-md-block {
    display: block !important;
}


/* Lists */
.list-group-item {
    text-decoration: none;
}