






.carousel-caption {
    top: 0; /* Position at the top of the carousel */
    bottom: auto; /* Remove the default bottom positioning */
    transform: translateY(20%); /* Adjust vertical alignment if necessary */
}

.carousel-caption.d-none.d-md-block {
    display: block !important;
}